@charset "utf-8";
.header {
  position: relative;
  background: #fff;
  z-index: 2;
}
.header_wrap {
  height: 78px;
  max-width: 1100px;
  border: 1px solid #f00;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 7%;
  position: relative;
}

.select_language {
  position: relative;
  padding-top: 16px;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  width: 25%;
  text-align: left;
}

.select_language .t_lang i {
  position: absolute;
  left: 80px;
  top: 16px; /*왜 필요하지?? */
}

.select_language .t_lang i.icon-angle-up {
  opacity: 0;
}

.select_language.show .select_lang_list {
  visibility: visible;
}

.select_language.show .t_lang i.icon-angle-up {
  opacity: 1;
}

.select_language.show .t_lang i.icon-angle-down {
  opacity: 0;
}

.select_lang_list {
  position: absolute;
  top: 36px;
  left: 0;
  padding: 12px 0;
  border: 1px solid #191919;
  background: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  /*가로에서 얼마나 떨어져있는지 / 세로에서 얼마나 / 얼마나 퍼져있는지 */
  z-index: 3;
  visibility: hidden;
}

.select_lang_list a {
  display: block;
  padding: 6px 21px 4px 18px;
  text-transform: uppercase; /*글자 대소문자 등 변경 가능*/
}

.select_lang_list li:nth-child(1) a {
  background: #eee;
}

.select_lang_list a:focus,
.select_lang_list a:hover {
  color: #000;
  background: #eee;
}

h1.logo {
  align-self: center;
}

h1.logo img {
  width: 166px;
}

.header_link {
  width: 25%;
  padding-top: 16px;
  text-align: right;
}

.header_link > a {
  /* > header_link의 바로 한 단계 아래 a tag */
  display: inline-block;
  margin: 0 0.2em;
  padding: 1px 8px 0 10px;
  font-size: 11px;
  position: relative;
}

.header_link > a:after {
  display: block;
  content: "";
  position: absolute;
  top: 1px;
  right: -4px;
  width: 1px;
  height: 12px;
  background: #eee;
}

.header_link > a.h_open_search:after {
  display: none;
}

.search-container {
  position: absolute;
  right: 100px;
  top: calc(50% - 20px);
  /* margin-top: -20px; */
  padding-bottom: 5px;
  /* width: 308px; */
  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: width 1s, opacity 0.1s;
}

.search-container.show {
  width: 308px;
  opacity: 1;
  visibility: visible;
}

.search_wrap {
  border: 1px solid #ccc;
}

.search_wrap input[type="search"].text {
  border: none;
  height: 48px;
  padding: 8px 12px;
  font-size: 16px;
  outline: none;
  width: 100%;
}

.search_wrap .submit {
  position: absolute;
  top: -4px;
  right: -17px;
  font-size: 24px;
  color: #aaa;
  /* color: transparent; */
}

.sch_close {
  position: absolute;
  top: 0;
  right: -60px;
}
